<section class="about section" id="about">
  <div class="container">
    <div class="about-text-container">
      <h2 class="about-title decor">
        Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
        Moments
      </h2>
      <p class="about-text">
        With years of experience in wedding photography, Maria specializes in
        capturing genuine emotions and beautiful moments. Her unique approach
        blends artistry with a personal touch, ensuring that each couple's story
        is told through stunning imagery.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/img/about/about-dt@1x.jpg 1x, /img/about/about-dt@2x.jpg 2x"
        type="image/jpeg"
      />

      <source
        media="(min-width: 768px)"
        srcset="/img/about/about-tab@1x.jpg 1x, /img/about/about-tab@2x.jpg 2x"
        type="image/jpeg"
      />

      <img
        class="about-img"
        src="/img/about/about-mob@1x.jpg"
        srcset="/img/about/about-mob@1x.jpg 1x, /img/about/about-mob@2x.jpg 2x"
        alt="Bride and groom walking together"
        width="335"
        height="273"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
