<section class="contact" id="contacts">
  <div class="container contact__container">
    <div class="contact__info">
      <svg class="contact__title_decor">
        <use href="/img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="contact__title">Let's Tell Your Story</h2>

      <p class="contact__text">
        I can't wait to hear more about your wedding! Tell me about your plans,
        and I'll be in touch to discuss how we can create magic together.
      </p>

      <ul class="contact-list">
        <li class="contact-list__item">
          <svg class="contact-list__icon">
            <use href="/img/sprite.svg#icon-mail"></use>
          </svg>

          <a href="mailto:info@mariakovalenko.com" class="contact-list__link contact-form">
          <a
            href="mailto:info@mariakovalenko.com"
            class="contact-list__link contact-form"
          >
            info@mariakovalenko.com
          </a>
        </li>

        <li class="contact-list__item">
          <svg class="contact-list__icon">
            <use href="/img/sprite.svg#icon-phone"></use>
          </svg>

          <a href="tel:+405551234567" class="contact-list__link contact-form">
            +40 (555) 123-4567
          </a>
        </li>

        <li class="contact-list__item">
          <svg class="contact-list__icon">
            <use href="/img/sprite.svg#icon-location"></use>
          </svg>

          <address class="contact-list__address contact-form">
            <a href="https://www.google.com/maps/place/Raschdorffstra%C3%9Fe+2,+13409+Berlin-Bezirk+Reinickendorf,+%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F/@52.5650588,13.3594928,15z/data=!4m6!3m5!1s0x47a853ca446de2a9:0xc962cacc3995edea!8m2!3d52.5679038!4d13.3628084!16s%2Fg%2F11q2n92wm5?hl=ru&entry=ttu&g_ep=EgoyMDI2MDYyOC4wIKXMDSoASAFQAw%3D%3D"
              class="contact-list__link" target="_blank">
              Raschdorffstraße 2-26, 13409 Berlin, Germany
            </a>
          </address>
        </li>
      </ul>
    </div>

    <div class="contact__form-wrapper">
      <form class="contact-form" id="contactForm" autocomplete="off">
        <label class="contact-form__label">
          <p>Name*</p>
          <input class="contact-form__input" type="text" name="name" placeholder="Maria" required />
        </label>

        <label class="contact-form__label">
          <p>Phone*</p>
          <input class="contact-form__input" type="tel" name="phone" placeholder="+1 (202) 111 2323" required />
        </label>

        <label class="contact-form__label">
          <p>Message</p>
          <textarea class="contact-form__textarea" name="comment"
            placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
            rows="6"></textarea>
        </label>

        <button class="contact-form__button" type="submit">
          <span class="contact-button-text"> Let's Talk </span>

          <span class="contact-loader contact-hidden" id="loader"></span>
        </button>
      </form>
    </div>
  </div>
</section>