<section class="feedbacks section" id="feedbacks">
  <div class="container">
    <div class="feedbacks-textual-wrapper">
      <h2 class="feedbacks-title decor">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-text">
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>
    <div class="swiper">
      <ul class="feedbacks-content-list swiper-wrapper">
        <li class="feedbacks-content-item">
          <p class="feedbacks-content-comment">
            "Maria is a true professional! She managed to capture every single
            emotion of our wedding day. Looking through the photos, we get to
            relive that special day all over again. Thank you for the incredible
            memories!
          </p>
          <p class="feedbacks-content-names">Olena & David</p>
        </li>
      </ul>
      <div class="feedbacks-content-button-container">
        <!-- If we need pagination -->
        <div class="custom-swiper-pagination-wrapper">
          <div class="custom-swiper-pagination"></div>
        </div>

        <div class="feedbacks-content-button-wrapper">
          <button
            class="custom-swiper-button-prev feedbacks-content-button"
            data-action="prev"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-left"></use>
            </svg></button
          ><button
            class="custom-swiper-button-next feedbacks-content-button"
            data-action="next"
          >
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
