<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo-text-wrapper">
        <a href="#header">
    <svg width="206" height="161" aria-hidden="true" focusable="false">
      <use href="/img/sprite.svg#icon-company-logo"></use>
    </svg>
    </a>
    <p class="footer-text">&copy; 2025 Maria Kovalenko Photography. All rights reserved.</p>
    </div>
    <nav class="footer-nav">
      <p class="footer-menu-text">Menu</p>
      <ul class="footer-ul-menu">
        <li>
        <a class="footer-links" href="#header">Home</a>
        </li>
        <li>
        <a class="footer-links" href="#about">About Me</a>
        </li>
        <li>
        <a class="footer-links" href="#benefits">Benefits</a>
        </li>
        <li>
        <a class="footer-links" href="#portfolio">Portfolio</a>
        </li>
        <li>
        <a class="footer-links" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="footer-contacts">
      <p class="footer-menu-text">Follow Me</p>
      <ul class="footer-ul-contacts">
        <li class="footer-contacts-links">
          <a class="footer-links" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <svg class="footer-icon" width="24" height="24" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#icon-facebook"></use>
        </svg>
        Facebook</a>
        </li>
        <li class="footer-contacts-links">
          <a class="footer-links" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <svg class="footer-icon" width="24" height="24" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#icon-instagram"></use>
        </svg>
        Instagram</a>
      </li>
      <li class="footer-contacts-links">
          <a class="footer-links" href="https://x.com/" target="_blank" rel="noopener noreferrer">
        <svg class="footer-icon" width="24" height="24" aria-hidden="true" focusable="false">
          <use href="/img/sprite.svg#icon-X"></use>
        </svg>
        X</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</footer>
