<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo-wrap">
        <a
          class="footer-logo-link"
          href="./index.html"
          aria-label="Go to home section"
          ><svg
            class="footer-logo"
            width="206"
            height="161"
            aria-hidden="true"
            focusable="false"
          >
            <use
              class="footer-logo-icon"
              href="/img/sprite.svg#icon-company-logo"
            ></use></svg
        ></a>
        <p class="footer-copy-text">
          &copy; 2025 Maria Kovalenko Photography.<br />
          All rights reserved.
        </p>
      </div>
      <div class="footer-menu-wrap">
        <p class="footer-menu-text">Menu</p>
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#hero" class="footer-menu-link">Home</a>
          </li>
          <li class="footer-menu-item">
            <a href="#about" class="footer-menu-link">About Me</a>
          </li>
          <li class="footer-menu-item">
            <a href="#benefits" class="footer-menu-link">Benefits</a>
          </li>
          <li class="footer-menu-item">
            <a href="#portfolio" class="footer-menu-link">Portfolio</a>
          </li>
          <li class="footer-menu-item">
            <a href="#faq" class="footer-menu-link">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="footer-soc-wrap">
        <p class="footer-soc-title">Follow Me</p>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer-soc-icon"
                width="24"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
              Facebook</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer-soc-icon"
                width="24"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
              Instagram</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer-soc-icon"
                width="24"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="/img/sprite.svg#icon-X"></use>
              </svg>
              X</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
