<section class="portfolio section" id="portfolio">
  <div class="container">
    <div class="decor">
      <h2 class="portfolio-h2 h2" >Portfolio Highligts</h2>
    </div>
    <div class="portfolio-btns">
      <ul class="portfolio-category-ul">
        <li>
          <button type="button" class="category-btn">All Photos</button>
        </li>
      </ul>
    </div>
    <!-- GALLERY  -->
    <div class="gallery-div">
      <span class="loader"></span>
      <!-- gallery -->
      <ul class="gallery">
      </ul>
    </div>
    <div class="portfolio-status-div">
      <label class="progress-label" for="loading"></label>
      <progress class="loading" max="100" value="10"></progress>
      <button type="click" class="show-more">Show more</button>
    </div>
  </div>
</section>
