html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  background-color: #fbf9f1;
}

h1 {
  font-family: 'Cormorant', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-family: 'Cormorant', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.decor::before {
  content: '';
  display: block;
  width: 300px;
  height: 21px;
  margin: 0 auto 24px;

  background-image: url('/src/img/decoration.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
