.footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 24px;
  text-align: center;
  background: #faf7e6;

  padding: 48px 20px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 48px;
  }
}

.footer-logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer-logo-wrap {
    margin-bottom: 0px;
    align-items: flex-start;
    width: 263px;
    margin-right: auto;
  }
}

.footer-logo-link {
  display: block;
}

.footer-logo {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    width: 128px;
    height: 100px;
  }
}

.footer-copy-text {
  font-size: 14px;
  line-height: 1.5;
}

.footer-menu-wrap {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-menu-wrap {
    margin-bottom: 0px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-menu-wrap {
    margin-right: 134px;
  }
}

.footer-menu-text {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer-menu-list {
    align-items: flex-start;
  }
}

.footer-menu-link {
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  padding: 0px 6px;
  margin-left: -6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-soc-list {
    align-items: flex-start;
  }
}

.footer-soc-link {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  margin-left: -6px;
  padding: 8px 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus-visible,
.footer-soc-link:hover,
.footer-soc-link:focus-visible {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.15);
}
.footer-menu-link:active,
.footer-soc-link:active {
  color: #b09a0c;
}